@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
}

@layer base {
  body {
    @apply antialiased text-gray-900 bg-gray-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}